html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 5%;
    border: 1px solid #000;
    background: #cfeafa;
}

.nav img {
    margin: 0 5%;
}

.nav a {
    display: inline-block;
    text-decoration: none;
}

footer {
    margin-right: 50px;
    text-align: right;
}
